@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$primary: $orange;

$theme-colors: map-merge(
    $theme-colors,
    (
        'primary': $indigo-400,
    )
);

@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.text-logo {
    font-family: 'Bungee', sans-serif;
}

.text-justify {
    text-align: justify;
}

// Hide Scrollbar

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

html {
    scrollbar-width: none;
}
